<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Press</title>
</head>
<body>
    <header>
        <navbar class="navbar">
            <div class="container nav">
                <a href="#" class="nav__logo">Pressa</a>
                <ul class="nav__list">
                    <li class="nav__list__item"><a href="about.html" class="nav__list__item__links">Biz haqimizda</a><li>
                    <li class="nav__list__item"><a href="admin.html" class="nav__list__item__links">Admin Page</a></li>
                </ul>    
                <button class="nav__btn" type="button" id="addEvent">
                    <img src="../Img/plus.png" alt="add">
                    <a target="_blank" href="elon.html" class="nav__btn__link">E'lon berish</a>
                </button>
            </div>
        </navbar>
    </header>
    <div class="container links">
        <a target="_blank" href="index.html"><img  src="../Img/House.png" alt="home"></a>
        <a href="about.html" class="aboutlink">
            <h3 id="categoryNav" class="links__category">Biz haqimizda</h3>
        </a>
    </div>



    <section class=" container"> 
        <div class="info__text">
            <p id="postDesc">
                Najot Ta'lim jamoasi o'z o'quvchilari uchun manfaatli bo'lgan musobaqalarni tashkil etishda davom etadi. Biz bu gal markazimizdagi uch soha vakillari, ya'ni UX/UI dizayner, frontend va backend dasturchilarni "bir dasturxon atrofida" to'plashga qaror qildik. <br><br>
                Najot Ta'lim jamoasi o'z o'quvchilari uchun manfaatli bo'lgan musobaqalarni tashkil etishda davom etadi. Biz bu gal markazimizdagi uch soha vakillari, ya'ni UX/UI dizayner, frontend va backend dasturchilarni "bir dasturxon atrofida" to'plashga qaror qildik. <br><br>
                
                Kuni kecha bo'lib o'tgan uchrashuvda to'rt kishidan iborat 8 ta guruh tashkil qilinib, ularga ikki hafta muddat ichida Toshkent shahridagi har qanday onlayn va oflayn tadbirlar to'g'risida e'lonli ma'lumot beruvchi uch bosqichli veb sahifa tayyorlash vazifasi topshirildi. <br><br>
                
                Demak, roppa-rosa 2 haftadan keyin ishtirokchilarning qilgan ishlari chetdan kelgan mehmonlar tomonidan xolis baholanib, dastlabki uchta o'rin egalari qimmatbaho sovg'alar bilan taqdirlanadi. Biz barchaga omad tilab qolamiz. 
            </p>
        </div>
    </section>
    <footer class="footer">
        <div class="container nav">
            <a href="#" class="nav__logo">Pressa</a>

            <ul class="nav__list">
                <li class="nav__list__item"><a href="about.html" class="nav__list__item__links">Biz haqimizda</a><li>
                <li class="nav__list__item"><a href="admin.html" class="nav__list__item__links">Admin Page</a></li>
            </ul> 

            <a href="tel:+71 200-11-02" class="nav__call">
                <img src="../Img/call.png" alt="">
                +71 200-11-02
            </a>
            <ul class="nav__social">
                <a href="https://www.facebook.com/" class="nav__social__link"> 
                    <img src="../Img/facebook.png" alt="facebook">
                </a>
                <a href="https://www.instagram.com/" class="nav__social__link"> 
                    <img src="../Img/instagram.png" alt="facebook">
                </a>
                <a href="https://xn--80affa3aj0al.xn--80asehdb/" class="nav__social__link"> 
                    <img src="../Img/telegram.png" alt="facebook">
                </a>
            </ul>
    </footer>



</body>

<script src="../js/single.js"></script>
</html>