<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Press</title>
</head>
<body>
        <a href="#" class="container homelogo">Pressa</a>

    <form id="login-form"  class="login">
        <h2 class="login__title">Tizimga kirish</h2>
        <label class="login__label">
            <img src="../Img/account.png" alt="account">
            <input id="usernameInput" placeholder="Login" type="text">
        </label>
        <label class="login__label">
            <img src="../Img/lock.png" alt="account">
            <input id="passwordInput" placeholder="Parol" type="password">
        </label>
        <a href="#" class="login__help">Parolni unutdingizmi?</a>
        <button class="login__submit" type="submit">Kirish </button>
    </form>
    



</body>
<script src="../js/login.js"></script>
</html>