<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Press</title>
</head>
<body>
    <header>
        <navbar class="navbar">
            <div class="container nav">
                <a href="#" class="nav__logo">Pressa</a>
     

                <label class="nav__search">
                    <img class="nav__search__icon" data-search="search" id="searchImg" src="../Img/search.png" alt="">
                    <input type="search" class="nav__search__input" id="searchInput"  placeholder="Izlash">
                </label>

                <ul class="nav__list">
                    <li class="nav__list__item"><a href="about.html" class="nav__list__item__links">Biz haqimizda</a><li>
                    <li class="nav__list__item"><a href="admin.html" class="nav__list__item__links">Admin Page</a></li>
                </ul>    
                <button class="nav__btn" type="button" id="addEvent">
                    <img src="../Img/plus.png" alt="add">
                    <a target="_blank" href="elon.html" class="nav__btn__link">E'lon berish</a>
                </button>
            </div>
        </navbar>
    </header>
    <div class="container links">
        <a target="_blank" href="index.html"><img  src="../Img/House.png" alt="home"></a>
        <h3 id="categoryNav" class="links__category">Biznes</h3>
        <img src="../Img/arrowright.png" alt="arrow">
        <h4 id="speakerName" class="links__speaker"> Alisher Isaev</h4>
    </div>
    <section class="container single">
        <div class="details">
            <h2 id="postTitle" class="details__title">Alisher Isaevdan biznes va IT bo’yicha master klass</h2>
            <div class="details__card">
                <div class="details__card__block">
                    <img src="../Img/calendar.png" alt="date">
                    <h4 id="postDate" class="details__card__block__date">17 / 01 / 2022 </h4>
                </div>
                <div class="details__card__block">
                    <img src="../Img/clock.png" alt="date">
                    <h4 id="postTime" class="details__card__block__date">15:00</h4>
                </div>
                <div class="details__card__block">
                    <img src="../Img/online.png" alt="date">
                    <h4 id="postTime"  class="details__card__block__date">Online </h4>
                </div>
            </div>

            <div class="share">
                <div class="share__block">
                    <img src="../Img/share.png" alt="share">
                    <h3 class="share__block__title"> Ulashing</h3>
                </div>
                <div class="share__media">
                    <img src="../Img/facebook2.png" alt="facebook">
                    <img src="../Img/tumblr.png" alt="facebook">
                    <img src="../Img/instagram2.png" alt="facebook">
                    <img src="../Img/twitter.png" alt="facebook">
                    <img src="../Img/telegram2.png" alt="facebook">
                </div>
            </div>
        </div>

        <div class="info">
            <h1 id="postTitle2"  class="info__title">Alisher Isaevdan biznes va IT bo’yicha master klass</h1>
            <div class="info__text">
                <p id="postDesc">
                    Najot Ta'lim jamoasi o'z o'quvchilari uchun manfaatli bo'lgan musobaqalarni tashkil etishda davom etadi. Biz bu gal markazimizdagi uch soha vakillari, ya'ni UX/UI dizayner, frontend va backend dasturchilarni "bir dasturxon atrofida" to'plashga qaror qildik.
                    Najot Ta'lim jamoasi o'z o'quvchilari uchun manfaatli bo'lgan musobaqalarni tashkil etishda davom etadi. Biz bu gal markazimizdagi uch soha vakillari, ya'ni UX/UI dizayner, frontend va backend dasturchilarni "bir dasturxon atrofida" to'plashga qaror qildik.
                    Kuni kecha bo'lib o'tgan uchrashuvda to'rt kishidan iborat 8 ta guruh tashkil qilinib, ularga ikki hafta muddat ichida Toshkent shahridagi har qanday onlayn va oflayn tadbirlar to'g'risida e'lonli ma'lumot beruvchi uch bosqichli veb sahifa tayyorlash vazifasi topshirildi.
                    Demak, roppa-rosa 2 haftadan keyin ishtirokchilarning qilgan ishlari chetdan kelgan mehmonlar tomonidan xolis baholanib, dastlabki uchta o'rin egalari qimmatbaho sovg'alar bilan taqdirlanadi. Biz barchaga omad tilab qolamiz. 
                </p>
                <img id="postImage" src="../Img/speaker.png" alt="speaker">
            </div>
            <div class="info__more">
                <a  id="postPlace" href="https://goo.gl/maps/cqkcS1iAqm4dkAgY6" class="info__more__block">
                    <img src="../Img/location.png" alt="location">
                    Google kartadan aniqlash
                </a>
                <a id="postLink"  href="https://www.youtube.com/c/najottalim" class="info__more__block">
                    <img src="../Img/youtube.png" alt="location">
                    Youtubedan tomosha qilish
                </a>
                <div class="info__more__date">
                    <img src="../Img/calendar.png" alt="location">
                    <span id="postDate2"> 22 / 01 / 2022  </span>
                </div>
                <div class="info__more__date">
                    <img src="../Img/clock.png" alt="location">
                    <span id="postTime2"> 14: 00 </span>
                </div>
            </div>
        </div>
    </section>




    <section class=" container recomend"> 
        <h5 class="recomend__title">Tavsiya etamiz </h5>
        <div id="eventsList" class="events">
            <!-- <div class="events__card">
                <img src="../Img/alisher.png" alt="event">
                <h3 class="events__card__title">Alisher Isaevdan biznes va IT bo'yicha master klass </h3>
                <div class="card__desc">
                    <div class="card__desc__block">
                        <img src="../Img/user.png" alt="user">
                        <h4 class="card__desc__block__text"> Alisher Isaev</h4>
                    </div>

                    <div class="card__desc__block">
                        <img src="../Img/calendar.png" alt="user">
                        <h4 class="card__desc__block__text"> 17 / 01 / 2022</h4>
                    </div>

                    <div class="card__desc__block">
                        <img src="../Img/online.png" alt="user">
                        <h4 class="card__desc__block__text"> Online</h4>
                    </div>

                    <div class="card__desc__block">
                        <img src="../Img/bizness.png" alt="user">
                        <h4 class="card__desc__block__text">Tadbirkor </h4>
                    </div>

                    <div class="card__desc__block">
                        <img src="../Img/clock.png" alt="user">
                        <h4 class="card__desc__block__text">15:00 </h4>
                    </div>

                    <div class="card__desc__block">
                        <img src="../Img/views.png" alt="user">
                        <h4 class="card__desc__block__text">2550 </h4>
                    </div>
                </div>
            </div>   -->
        </div>
        <button id="moreBtn"  class="more_btn">Ko'proq ko'rish </button>

    </section>
    <footer class="footer">
        <div class="container nav">
            <a href="#" class="nav__logo">Pressa</a>

            <ul class="nav__list">
                <li class="nav__list__item"><a href="about.html" class="nav__list__item__links">Biz haqimizda</a><li>
                <li class="nav__list__item"><a href="admin.html" class="nav__list__item__links">Admin Page</a></li>
            </ul> 

            <a href="tel:+71 200-11-02" class="nav__call">
                <img src="../Img/call.png" alt="">
                +71 200-11-02
            </a>
            <ul class="nav__social">
                <a href="https://www.facebook.com/" class="nav__social__link"> 
                    <img src="../Img/facebook.png" alt="facebook">
                </a>
                <a href="https://www.instagram.com/" class="nav__social__link"> 
                    <img src="../Img/instagram.png" alt="facebook">
                </a>
                <a href="https://xn--80affa3aj0al.xn--80asehdb/" class="nav__social__link"> 
                    <img src="../Img/telegram.png" alt="facebook">
                </a>
            </ul>
    </footer>


    <template id="eventTemplate">
        <div id="events__card" class="events__card">
            <img src="../Img/alisher.png" id="eventImg" class="eventImg" alt="event">
            <h3 id="eventTitle" class="events__card__title">Alisher Isaevdan biznes va IT bo'yicha master klass </h3>
            <div class="card__desc">
                <div class="card__desc__block">
                    <img src="../Img/user.png" alt="user">
                    <h4 id="evSpeker" class="card__desc__block__text"> Alisher Isaev</h4>
                </div>

                <div class="card__desc__block">
                    <img src="../Img/calendar.png" alt="user">
                    <h4 id="evDate" class="card__desc__block__text"> 17 / 01 / 2022</h4>
                </div>

                <div class="card__desc__block">
                    <img id="typeImg" src="../Img/online.png" alt="user">
                    <h4 id="evType" class="card__desc__block__text"> Online</h4>
                </div>

                <div class="card__desc__block">
                    <img src="../Img/bizness.png" alt="user">
                    <h4 id="evJob" class="card__desc__block__text">Tadbirkor </h4>
                </div>

                <div class="card__desc__block">
                    <img src="../Img/clock.png" alt="user">
                    <h4 id="evTime" class="card__desc__block__text">15:00 </h4>
                </div>

                <div class="card__desc__block">
                    <img src="../Img/views.png" alt="user">
                    <h4 id="evViews" class="card__desc__block__text">2550 </h4>
                </div>
            </div>
        </div>  
    </template>
</body>

<script src="../js/single.js"></script>
</html>